# Project exclude paths
/.coursecreator/
/Programmierung/Lektion2/task1/project/target/
/Programmierung/Lektion2/task1/target/
/Programmierung/Lektion2/task1/target/scala-2.12/classes/
/Programmierung/Lektion3/task1/project/target/
/Programmierung/Lektion3/task1/target/
/Programmierung/Lektion3/task1/target/scala-2.12/classes/
/Programmierung/Lektion3/task1/target/scala-2.12/test-classes/
/Programmierung/Lektion4/task1/project/target/
/Programmierung/Lektion4/task1/target/
/Programmierung/Lektion4/task2/project/target/
/Programmierung/Lektion4/task2/target/
/Programmierung/Lektion4/task2/target/scala-2.12/classes/
/Programmierung/Lektion4/task3/project/target/
/Programmierung/Lektion4/task3/target/
/Programmierung/Lektion4/task3/target/scala-2.12/classes/
/Programmierung/Lektion5/task1/project/target/
/Programmierung/Lektion5/task1/target/
/Programmierung/Lektion5/task1/target/scala-2.12/classes/
/Programmierung/Lektion5/task2/project/target/
/Programmierung/Lektion5/task2/target/
/Programmierung/Lektion5/task3/project/target/
/Programmierung/Lektion5/task3/target/
/project/project/target/
/project/target/
/target/
/Theorie/task1/project/target/
/Theorie/task1/target/